/* Slider */
/* line 3, ../../../../dev/sass/lib/slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
}

/* line 19, ../../../../dev/sass/lib/slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 26, ../../../../dev/sass/lib/slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 30, ../../../../dev/sass/lib/slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 35, ../../../../dev/sass/lib/slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 44, ../../../../dev/sass/lib/slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
/* line 50, ../../../../dev/sass/lib/slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 56, ../../../../dev/sass/lib/slick.scss */
.slick-track:after {
  clear: both;
}
/* line 60, ../../../../dev/sass/lib/slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 64, ../../../../dev/sass/lib/slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  padding: 0;
  text-align: center;
  display: none;
}
/* line 71, ../../../../dev/sass/lib/slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 75, ../../../../dev/sass/lib/slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 81, ../../../../dev/sass/lib/slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 85, ../../../../dev/sass/lib/slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 89, ../../../../dev/sass/lib/slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 93, ../../../../dev/sass/lib/slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 99, ../../../../dev/sass/lib/slick.scss */
.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border: none;
  width: 11px;
  height: 18px;
  background: none;
  background-repeat: none;
  background-size: 11px 18px;
  font-size: 0;
  line-height: 0;
  z-index: 100;
}
/* line 114, ../../../../dev/sass/lib/slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}
/* line 118, ../../../../dev/sass/lib/slick.scss */
.slick-arrow.slick-prev {
  background-image: url(i/icon_left-arrow.svg);
  left: -8px;
}
/* line 123, ../../../../dev/sass/lib/slick.scss */
.slick-arrow.slick-next {
  background-image: url(i/icon_right-arrow.svg);
  right: -8px;
}
@media screen and (min-width: 900px) {
  /* line 129, ../../../../dev/sass/lib/slick.scss */
  .slick-arrow.slick-prev {
    left: -20px;
  }
  /* line 133, ../../../../dev/sass/lib/slick.scss */
  .slick-arrow.slick-next {
    right: -20px;
  }
}

/* line 142, ../../../../dev/sass/lib/slick.scss */
.slick-dots {
  position: absolute;
  right: 3.25%;
  bottom: 5%;
}
/* line 147, ../../../../dev/sass/lib/slick.scss */
.slick-dots li {
  display: inline-block;
  margin-left: 15px;
}
/* line 151, ../../../../dev/sass/lib/slick.scss */
.slick-dots li:first-child {
  margin-left: 0;
}
/* line 156, ../../../../dev/sass/lib/slick.scss */
.slick-dots li.slick-active button {
  background: #fff;
}
/* line 162, ../../../../dev/sass/lib/slick.scss */
.slick-dots button {
  font-size: 0;
  line-height: 0;
  border: none;
  background: rgba(255, 255, 255, 0.6);
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}
